.container {
  display: flex;
  gap: 100px;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title {

    font-size: clamp(56px, 70px, 86px);
}

.buttons {
    display: flex;
    gap: 20px;
}

.button {
    padding: 20px;
    min-width: 120px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.button:first-child {
    background-color: var(--btn);
    color: var(--text);
}

.desc {
    font-size: 20px;
}

.brands {
    width: 500px;
    height: 50px;
    position: relative;
    filter: grayscale(100%);
}

.imageContainer {
    flex: 1;
    position: relative;
}

.heroImg {
    object-fit: contain;
}

@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .buttons {
        justify-content: center;
    }

    .brands {
        margin-left: 50px;
        width: 100%;
    }
}

@media (max-width: 768px) {

    .title {
        font-size: clamp(36px, 50px, 66px);
    }


}